GitPython
coloredlogs
numpy
loguru
boto3
SoundFile
scipy
norbert
asteroid>=0.5.0
torch
pytorch_lightning
voicefixer
inplace_abn

librosa
torchlibrosa==0.0.7
matplotlib
setuptools
setuptools-scm
tensorboardX
torchvision
pillow
julius
diffq

soundfile
typing
pynvml
progressbar
